@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {

  --font-avantt-regular: var(--font-avantt-regular);
  --font-avantt-medium: var(--font-avantt-medium);
  --font-avantt-heavy: var(--font-avantt-heavy);

  --header-text-color: var(--header-text-color);
  --primary-text-color: var(--primary-text-color);
  --secondary-text-color: var(--secondary-text-color);
}

:root {
  --header-text-color: #c5a16f;
  --primary-text-color: #E8E3D9;
  --secondary-text-color: #2E4F4F;
  --secondary-hover-text-color: #1a4d4d;
  --background-color: #0E0E0E;
}

@layer base {
  /* Hide default cursor only on non-touch devices */
  @media (pointer: fine) {
    * {
      cursor: none;
    }
  }
  body {
    background-color: #000;
    color: var(--primary-text-color);
    /* overflow-x: hidden; */
  }
  
  /* Hide scrollbar for all browsers */
  * {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  
  *::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
  
  body,
  html {
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* overflow-x: hidden; */
  }
  
  body::-webkit-scrollbar,
  html::-webkit-scrollbar {
    display: none;
  }
}